Package: xinput-calibrator
Version: 0.7.5-0ubuntu1
Architecture: i386
Bugs: http://github.com/tias/xinput_calibrator/issues
Maintainer: Ubuntu X-SWAT <ubuntu-x@lists.debian.org>
Installed-Size: 180
Depends: libc6 (>= 2.4), libgcc1 (>= 1:4.1.1), libstdc++6 (>= 4.4.0), libx11-6, libxext6, libxi6 (>= 2:1.2.0)
Suggests: xinput
Section: x11
Priority: optional
Homepage: http://www.freedesktop.org/wiki/Software/xinput_calibrator
Description: A generic touchscreen calibration program for X.Org
 xinput_calibrator is a program for calibrating your touchscreen, when using
 the X Window System.
 It currently features:
  - works for any standard Xorg touchscreen driver (uses XInput protocol)
  - mis-click detection (prevents bogus calibration)
  - dynamically recalibrates the evdev driver
  - outputs the calibration as xorg.conf.d snippet or HAL policy file
  - and more
Original-Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
